h1 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-size: 50px;
    font-weight: 900;
    
 }
 
 h2 {
     font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
 }
 
 h3 {
     font-family: Montserrat,"Helvetica Neue",Helvetica;
     font-size: 1.2em;
 }
 
 .linea {
     position: relative;
     top: 525px;
     padding-left: 115px;
     width: 500px;
     /* transition-duration: 3s; */
 }
 
 /* :root{
     /* --nav-height: 115px; */
 
     .heightnav {
         height: 100px !important;
         background:linear-gradient(to bottom, #096B72, rgba(255, 255, 255, 0));
         transition: background 0.4s ease-in;
     }

     .heightnavOnScroll {
        height: 100px !important;
        background:linear-gradient(to bottom, rgba(255, 255, 255, 0.158), #096B72);
        transition: 0.4s;
    }
 
 
 .navbar {
 
          /* background-color: white; */
          opacity: 0.7;
 }
 
 
 .logonav{
     margin-left: 30px !important;
     
 }
 
 body {
     
     background-color: #f8f9fa;
     padding-top: var(--nav-height);
  }
 
 
 
 .navbar-custom {
     position: fixed !important;
     top: 0px;
     width: 100%;
     height: var(--nav-height);
     z-index: 5;
 }
 
 .title1 {
     position: absolute;
     top: 400px;
     left: 150px;
 }
 
 .title2 {
     position: absolute;
     top: 450px;
     left: 150px;
 }
 
 .descrizione1 {
     position: absolute;
     top: 550px;
     left: 150px;
 }
 
 .descrizione2 {
     position: absolute;
     top: 600px;
     left: 150px;
 }
 
 .img-header {
     background-image: url("./Media/bg-home.png");
     background-size:cover;
     opacity: 0.7;
 
 }
 
 /* linear-gradient(to bottom, rgba(245, 246, 252, 0.52)), */
 
 .intestazionesecondpage {
     color: #096B72;
 }
 
 .guadagnapunti {
     font-weight: bold;
     
 }
 
 
 .h2 {
     color:black;
 }
 
 
 .appdx {
     width: 250px;
     height: auto;
 }
 
 .appsx {
     width: 250px;
     height: auto;
 }
 
 .sfondop3 {
     background-color: rgb(200, 234, 238, 0.3);
     
 }
 
 /* immagini terza pagina */
 
 .aws {
     width: 250px;
     height: auto;
     margin-left: 50px !important;
 }
 
 .google {
     width: 250px;
     height: auto;
     margin-left: 90px !important;
 
 }
 
 .gravity {
     width: 250px;
     height: auto; 
     margin-left: 50px !important;
 
 }
 
 .inostripartner {
     margin-left: 200px;
 }
 
 .cardiovascularcare {
     width: 500px;
     height: auto;
     margin-left: 120px;
 }
 
 .partnereasydoc {
     color:#096B72;
     font-weight: bold;
 }
 
 .button {
     font-size: 14px;
     border-radius:50px !important;
     Color: #096B72;
     font-weight: bold;
     background-color: #66E3C3;
     width: 150px;
 }
 
 .development {
     width: 700px;
     height: auto;
 }
 
 
 .logofooter {
     width: 280px;
     height: auto;
 }
 
 .bgfooter {
     background-color: #011627;
 }
 
 .rigafot{
         height: 100px !important;
 }
 
 .piva {
     font-size: small;
     font-weight:100;
 }
 
 .li {
     color:rgba(255,255,255,0.38);
     font-size: small;
 }