* {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
}

:root {
    --primary-color: #e4e0dd;
    --secondary-color: #63e2c4;
}

.text-secondary-color {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    color: var(--secondary-color);
}

.navbar {
    position: fixed;
    background:linear-gradient(to bottom, #096B72, rgba(255, 255, 255, 0)) !important;
    height: 120px;
    width: 100%;
    z-index: 10;
    -webkit-transition: background 1000ms linear;   
}

.navOnScroll {
    position: fixed;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #096B72) !important;
    height: 120px;
    width: 100%;
    z-index: 10;
    -webkit-transition: background 1000ms linear;      
}

.logo {
    height: 30px;
}

.nav-link {
    color: var(--primary-color) !important;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .nav-link {
        background:linear-gradient(to top, #096B72, rgba(255, 255, 255, 0)) !important;
        border-radius: 5px;
    }
}

.navbar-toggler:focus {
    color: #39878c !important;
}

.bg-gradient{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(60, 45, 37, 0.73)),
    url("./Media/bg-home.png") !important;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
}

.bg-gradient2{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(60, 45, 37, 0.73)),
    url("./Media/bg-home2.png") !important;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
}

.bg-gradient3{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(60, 45, 37, 0.73)),
    url("./Media/bg-home3.png") !important;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .bg-gradient {
        background-position: center;
    }

    .bg-gradient2 {
        background-position: center;
    }

    .bg-gradient3 {
        background-position: center;
    }
}

.text-header {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50%;
    color: var(--primary-color) !important;
    font-weight: 900;
    font-size: 50px;
    z-index: 10;
}

.img-header {
    position: absolute;
    top: 60%;
    left: 7%;
    width: 50%;
    color: var(--primary-color) !important;
    z-index: 10;
}

.text-header2 {
    position: absolute;
    top: 67%;
    left: 10%;
    width: 50%;
    color: var(--primary-color) !important;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .text-header {
        font-size: 25px;
    }

    .img-header {
        top: 58%;
    }

    .text-header2 {
        top: 60%;
    }
}

.bg-custom {
    background-color:#eceff5;
}

.bg-footer {
    background-color:#011627;
}


